

<nav class="navbar navbar-default navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to root_path, class: "navbar-brand" do %><h6>
        Home</h6>
      <% end %>
    </div>
    <div class="navbar-header">
      <%= link_to aboutus_path, class: "navbar-brand" do %>
        <h6>About Us</h6>      
    <% end %>
    </div>
  </nav>

<style>
.navbar-default {
  background-color: white;
}
.navbar-default .navbar-brand {
  color: red;
}
.navbar-btn {
  margin-top: 7px;
  margin-right: 15px;
}
h6{
  margin-top: 0rem;
  font-weight: 300;
  font-size: 2.5rem;
  font-family: "Palatino Linotype", "Book Antiqua", "Palatino", serif;
  font-weight: bold;
}
h5{
margin-top: 0rem;
  font-weight: 300;
  font-size: 1.5rem;
  font-family: "Palatino Linotype", "Book Antiqua", "Palatino", serif;
  font-weight: bold;

}
.h5{
margin-top: 0rem;
  font-weight: 300;
  font-size: 1.5rem;
  font-family: "Palatino Linotype", "Book Antiqua", "Palatino", serif;
  font-weight: bold;

}
h4{
  margin-left: 0.5rem;
  font-size: 1.5rem;
  font-family: "Palatino Linotype", "Book Antiqua", "Palatino", serif;
  font-weight: bold;

}
</style>